---
import PostsList from '@components/common/posts/List.tsx'
import type { Locale } from '@/i18n/locales';

type Props = {
	locale: Locale;
	title: string;
	viewAllLabel: string;
	listLabels: {
		loading: string;
		previous: string;
		next: string;
		readMore: string;
	};
};

const { locale, title, viewAllLabel, listLabels } = Astro.props as Props;

---
<div class="w-full">
    <div class="flex justify-between items-center mb-6">
        <h5 class="text-2xl text-slate-900 font-bold">{title}</h5>
        <a href={`/${locale}/posts`} class="text-indigo-600 font-semibold hover:underline decoration-2 underline-offset-4">{viewAllLabel} →</a>
    </div>
    
    <div class="w-full">
        <PostsList
            popular
            locale={locale}
            labels={listLabels}
            client:only="preact"
        />
    </div>
</div>
